<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">.: ADD INGREDIENT :.</h3>
                </div>
                <div class="panel-body">
                    <form name="frmAddIngredient" novalidate>
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-info" ng-click="isCustom=false; resetForm();">Existing</a>
                            <a class="btn btn-info" ng-click="isCustom=true; resetForm();">Custom</a>
                        </div>
                        <hr>
                        <!-- EXISTING INGREDIENT -->
                        <div id="divExisting" ng-show="!isCustom">
                            <h4>Existing Ingredient</h4>
                            <div class="frm-group">
                                <!-- <pre>Model: {{ingredient | json}}</pre> -->
                                <input type="text" name="existIngredient" class="form-control" ng-model="ingredient" uib-typeahead="ing as ing.name for ing in ingredients | filter:{name: $viewValue} | limitTo:12" validation="required|custom:validateExistingIngredient" ng-disabled="isCustom" autocomplete="off">
                            </div>
                        </div>
                        <!-- CUSTOM INGREDIENT -->
                        <div id="divCustom" ng-show="isCustom">
                            <h4>Custom Ingredient</h4>
                            <div class="frm-group">
                                <label for="txtIngredientName">Name</label>
                                <input class="form-control" type="text" name="txtIngredientName" ng-model="ingredient.name" validation="required|alpha_dash_spaces" ng-disabled="!isCustom" autocomplete="off">
                            </div>
                            <div class="frm-group">
                                <br>
                                <label for="ddlMeasureType">How will '{{ingredient.name}}' be measured?</label>
                                <select name="ddlMeasureType" class="form-control" ng-model="ingredient.measureType" validation="alpha_dash:alt=Must choose a measurement type.|required" ng-disabled="!isCustom">
                                    <option value="">...</option>
                                    <option value="weight">Weight</option>
                                    <option value="pieces">Pieces</option>
                                </select>
                            </div>
                            <div class="frm-group" ng-hide="(ingredient.measureType !== 'weight')">
                                <br>
                                <label for="txtGramsPerCup">How many grams per cup are in '{{ingredient.name}}'?</label>
                                <input type="text" name="txtGramsPerCup" class="form-control" ng-model="ingredient.gramsPerCup" validation="required|int|min_num:1" ng-disabled="!isCustom || (ingredient.measureType !== 'weight')" autocomplete="off">
                                <a href="http://www.gourmetsleuth.com/conversions/grams/grams-to-cups-conversions" target="_blank">Lookup ingredient weights</a>
                            </div>
                        </div>
                        <hr>
                        <!-- <button class="pull-left btn btn-primary">Nevermind</button> -->
                        <!-- <button class="pull-right btn btn-primary">Continue</button> -->
                        <button class="btn btn-primary pull-left" ng-click="nevermind()">Nevermind</button>
                        <button class="btn btn-primary pull-right" ng-click="continue()">Continue</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
</div>
