<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-info">
				  <div class="panel-heading">
						<h3 class="panel-title text-center">.: ADMIN - STORES :.</h3>
				  </div>
				  <div class="panel-body">
				  		<form>
				  			<div class="form-group">
				  				<div class="input-group">
				  					<button class="btn btn-info" ng-click="addStore()"><i class="fa fa-plus"></i>&nbsp;Add Store</button>
				  				</div>
				  			</div>
				  			<div class="form-group">
				  				<div class="input-group">
				  					<div class="input-group-addon">
				  						<i class="fa fa-search"></i>
				  					</div>
				  					<input type="text" class="form-control" placeholder="Search the stores..." ng-model="searchStores">
				  				</div>
				  			</div>
				  		</form>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<!-- id, name, notes -->
									<th>
										<a ng-click="sortType = 'id'; sortReverse = !sortReverse;">
											ID
											<span ng-show="sortType === 'id' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType === 'id' && sortReverse" class="fa fa-caret-up"></span>
										</a>
									</th>
									<th>
										<a ng-click="sortType = 'name'; sortReverse = !sortReverse;">
											NAME
											<span ng-show="sortType === 'name' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType === 'name' && sortReverse" class="fa fa-caret-up"></span>
										</a>
									</th>
									<th>
										<a ng-click="sortType = 'notes'; sortReverse = !sortReverse;">
											NOTES
											<span ng-show="sortType === 'notes' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType === 'notes' && sortReverse" class="fa fa-caret-up"></span>
										</a>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="store in stores | orderBy:sortType:sortReverse | filter:searchStores">
									<td>{{store.id}}</td>
									<td>{{store.name}}</td>
									<td>{{store.notes}}</td>
									<td class="text-center">
										<a ng-click="editStore(store.id)"><i class="fa fa-pencil"></i></a>
										&nbsp;
										<a ng-click="deleteStore(store.id)"><i class="fa fa-trash"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
				  </div>
			</div>
		</div>
	</div>
</div>